apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: single-price-grid-component-app
    newName: single-price-grid-component-app
    newTag: latest
