.WhyUsBox{
    background-color: var(--Teal400);
    padding: 3rem;
}
.WhyUsBox h2{
    margin: 0;
    margin-bottom: 1.7rem;
    font-size: 1.4rem;
}
.list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .3rem;
    font-size: 1.08rem;
}